@import '../colours';

.Page {
  background-color: $crystal-white;
  color: #ffffff;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.PageContent {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;

  .Content {
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
  }
}