@import 'colours';


html, body, #root {
  min-height: 100vh;
}

.BlockPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 16px;
  row-gap: 16px;
  width: 100%;
  margin-bottom: 50px;
}

* {
  color: $elegant-gray;
}
